POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

USE_PUSH_NOTIFICATIONS='true'
NOTIFICATION_WEBHOOK_URL=

# Strategy Options: 'QueueOnly', 'QueueAndLiveModeDelivery', 'DirectDelivery'
MESSAGE_FORWARDING_STRATEGY=

# Wallet DB Config
WALLET_DB_MAX_CONNECTIONS=10
WALLET_DB_MIN_CONNECTIONS=0
WALLET_DB_IDLE_TIMEOUT=0
WALLET_DB_CONNECT_TIMEOUT=10